# Python Bytecode Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.tripletenvenv/
env/
ENV/
*.env

# Ignore large Python packages
torch
transformers

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE Files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# System Files
.DS_Store  # macOS
Thumbs.db  # Windows

# Environment variables
.env

# Logs
*.log

# IPython History
.profile_default/
ipython_config.py

# Pytest Cache
.cache/

# Coverage Reports
.coverage
*.coverage
coverage.xml
nosetests.xml
test_*.xml

# Build and Distribution files
build/
dist/
*.egg-info/

# SpaCy models (not necessary to track in version control)
en_core_web_sm/*
best_projects/tripletenvenv/
best_projects/tripletenvenv/
best_projects/tripletenvenv/
*.dylib
*.so
*.py # Only if you dont want raw scripts tracked
echo "*.js" >> .gitignore
git add .gitignore
git commit -m "Updated .gitignore to ignore large files"
git push origin main



exit()

echo "best_projects/tripletenvenv/" >> .gitignore
echo "*.dylib" >> .gitignore
echo "*.so" >> .gitignore
echo "*.py" >> .gitignore  # Only if you dont want raw scripts tracked
*.js
